*,*::before,*::after{box-sizing: border-box;margin: 0;padding: 0;}
html{font-size: 16px;}
#mail,#sms,#sms1,#sms2,#sms3,#sms4{
    width:48%;margin:10px 1%;
    p{
        margin:10px;
        padding:5px;
        input[type="text"]{
            width: 100%;
            font-size:14px;
            padding:13px 7px;
            outline: none;
            border:solid 1px #ccc;
        }
        textarea{
            width: 100%;
            height:100px;
            padding:7px;
            font-size:14px;
            outline: none;
            border:solid 1px #666;
        }
        label{
            margin-left:5px;
            margin-right:30px;
        }
    }
    span.btn{
        display: inline-block;
        color:#fff;
        background-color: #666;
        padding:10px 20px;
        cursor: pointer;
        &:hover{
            background-color: #000;
        }
    }
}
.log{
    position: fixed;
    top:10px;
    width:48%;right:1%;
    border: solid 1px #ccc;
    padding:10px;
    line-height: 1.5em;
    color:#999;
    word-break: break-all;
}
.sms form{
    border: solid 1px #ccc;
    margin-top:7px;
    box-shadow: 1px 1px 3px #ccc;
}
form h2{
    font-size:12px;
    padding: 15px 15px 0 15px;
    color:#ccc;
    label{
        margin-right: 15px;
        color:#999;
        font-size:16px;
    }
}